/* .+:* ε>{ c ')
    body
ε>{ c ') .+:* */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 100dvw;
  min-height: 100dvh;
}

body * {
  box-sizing: border-box;
}