.h-8  {height: 8px;}
.h-12 {height: 12px;}
.h-16 {height: 16px;}
.h-20 {height: 20px;}
.h-24 {height: 24px;}
.h-32 {height: 32px;}
.h-40 {height: 40px;}
.h-48 {height: 48px;}
.h-56 {height: 56px;}
.h-64 {height: 64px;}

.h-1r {height: 1rem;}
.h-2r {height: 2rem;}
.h-3r {height: 3rem;}
.h-4r {height: 4rem;}
.h-5r {height: 5rem;}
.h-6r {height: 6rem;}