:root {
  /* 汎用数値 */
  --item-bd-l: 81;



  /* .+:* ε>{ c ')
    Blackish
  ε>{ c ') .+:* */

  --blackish: 222;

    /* 背景 */
    --blackish-bg: hsl(var(--blackish-h), 26, 14);
    
    /* アイテム */
    --blackish-item-bg: hsl(var(--blackish-h), 26, 25);
    --blackish-item-bd: hsl(var(--blackish-h), 26, var(--item-bd-l));



  /* .+:* ε>{ c ')
    Pelagic
  ε>{ c ') .+:* */





  /* .+:* ε>{ c ')
    Hadal
  ε>{ c ') .+:* */

  --hadal-h: 220;

    /* 背景 */
    --hadal-bg: hsl(var(--hadal-h), 26, 14);
    
    /* アイテム */
    --hadal-item-bg: hsl(var(--hadal-h), 26, 25);
    --hadal-item-bd: hsl(var(--hadal-h), 26, var(--item-bd-l));

}