:root {
  /* 汎用数値 */
  --item-bd-l: 81%;

  /* .+:* ε>{ c ')
    Blackish
  ε>{ c ') .+:* */
  --blackish-h: 222;
    /* 背景 */
    --blackish-bg: hsl(var(--blackish-h) 16% 12%);
    /* ボックス */
    --blackish-box-bg: hsl(var(--blackish-h) 14% 8%);
    --blackish-box-bd: hsl(var(--blackish-h) 26% var(--item-bd-l));
    /* 文字色 */
    --blackish-fg: hsl(var(--blackish-h) 36% 82%);



  /* .+:* ε>{ c ')
    Pelagic
  ε>{ c ') .+:* */





  /* .+:* ε>{ c ')
    Hadal
  ε>{ c ') .+:* */

  --hadal-h: 220;

    /* 背景 */
    --hadal-bg: hsl(var(--hadal-h) 26% 14%);
    
    /* アイテム */
    --hadal-box-bg: hsl(var(--hadal-h) 26% 25%);
    --hadal-box-bd: hsl(var(--hadal-h) 26% var(--item-bd-l));

}