/* .+:* ε>{ c')
      box
ε>{ c') .+:* */

.box-col, .box-row, .pbox-col, .pbox-row, .sbox-col, .sbox-row {
  display: flex;
  background-color: var(--theme-box-bg);
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
}

.box-col, .box-row {border: 1px solid var(--theme-box-bd);}
.pbox-col, .pbox-row {border: 1px solid var(--primary);}
.sbox-col, .sbox-row {border: 1px solid var(--secondary-tp);}

.box-col, .pbox-col, .sbox-col {flex-direction: column;}
.box-row, .pbox-row, .sbox-row {flex-direction: row;}