/* .+:* ε>{ c')
    ヘッダー
ε>{ c') .+:* */

/* ヘッダーコンテナ */
header .header {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 16px 32px;
  flex-direction: row;
  background-color: transparent;
}

.header-title {
  display: flex;
  margin: 32px 0;
  padding: 0 24px;
  font-size: 32px;
}