/* .+:* ε>{ c ')
	アイテムコンテナ
ε>{ c ') .+:* */

/* 横並び */
.items-r {
	display: flex;
	align-items: center;
	gap: 24px;
}

/* 縦並び */
.items-c {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}